{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ metadata.pipeline }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Pipeline</h3>
        <ul class="list-unstyled">
            <li>Repo: <a href="{{ metadata.repo_link }}" rel="noopener noreferrer" target="_blank">{{ metadata.repo_name }}</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col col-md-6">
        <h3>Builds</h3>
        <div class="list-group">
            {% for build_id in build_ids %}
            <a href="{{ url_for('build_view', pipeline=pipeline, build_id=build_id.build_id) }}" class="list-group-item list-group-item-action">
                {{ build_id.build_id_label }}
                ({{ build_id.created_at | dtformat }})
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
